


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    
grid-template-areas:
"header header header header header"
"main main main main sidebar"
"footer footer footer footer footer";
}
.container *{
min-height: 100px;
}
header{
    grid-area:header;
    background-color: blue;
    text-align: center;
    font-size: 100px;
}
main{
    grid-area: main;
    background-color: rgb(11, 196, 66);
}
aside{
    grid-area: sidebar;
    background-color: black;
}
#tjoho {
    color: black;
    text-align: center;
    display: block;
}
aside:hover {
    background-color: red;
    text-align: center;
    
}
aside:hover > img {
    visibility: visible;
}

aside > img {
    visibility: hidden;
}
footer{grid-area: footer;
    background-color: rgb(52, 226, 81);
    border: solid 100px;
    border-color: rgb(255, 21, 196);
    
    }
#teknikum{
    border: 10px solid;
    border-color: aqua;
    border-radius: 20px;
    color: black;
    
}
#vvs{
    display: block;
    text-align: center;
    color: black;
    margin-top: 100px;
}